body{
    font-family: 'Futura PT', 'Helvetica Neue', Helvetica, Arial, Sans-serif, serif;
    font-size: 14px;
}

body{
    margin: 0;
    padding: 0;
}

h1, h2, h3{
    margin: 0;
    padding: 0;
    font-weight: 500;
}

h1{
    margin: 20px 0;
}

h2{
    margin: 10px 0;
}

p{
    margin: 0;
    padding: 0;
}

.clearfix{
    display: block;
    clear: both;
}

a:link, a:visited{
    color: #1658da;
}

a:active, a:hover{
    color: rgb(210, 39, 11);
}

dl{
    margin: 0;
    padding: 0;
}

dt{
    margin: 0;
    color: #1658da;
}

dd{
    margin: 0;
    margin-left: 20px;
    font-size: 15px;
}

blockquote{
    font-style: italic;
    font-weight: 300;
}