@import url(fonts/stylesheet.css);


body{
    font-family: 'Futura PT', 'Helvetica Neue', Helvetica, Arial, Sans-serif, serif;
    font-size: 14px;
}

body{
    margin: 0;
    padding: 0;
    color: #333;
}

h1, h2, h3{
    margin: 0;
    padding: 0;
    font-weight: 500;
}

h1{
    margin: 20px 0;
}

h2{
    margin: 10px 0;
}

p{
    margin: 0;
    padding: 0;
}

.clearfix{
    display: block;
    clear: both;
}

a:link, a:visited{
    color: #1658da;
}

a:active, a:hover{
    color: rgb(210, 39, 11);
}

dl{
    margin: 0;
    padding: 0;
}

dt{
    margin: 0;
    color: #1658da;
}

dd{
    margin: 0;
    margin-left: 20px;
    font-size: 15px;
}

blockquote{
    font-style: italic;
    font-weight: 300;
}

.buttons-wrapper{
    text-align: center;
    font-size: 0;
}


/* Styles for list boxes and combo items */

sci-combo-box ul{
    margin: 0;
    padding: 5px;
    list-style-type: none;
    color: rgb(186, 196, 209);
}

sci-combo-box li{
    cursor: pointer;
}

sci-combo-box li:hover{
    color: #1758da;
}

sci-combo-box li.optional{
    font-style: italic;
}

sci-combo-box.complex-list ul{
    padding: 0;
}

sci-combo-box.complex-list li{
    padding: 5px;
    border-bottom: 1px solid #333;
    color: #333;
}

sci-combo-box.complex-list li p:nth-child(2){
    font-style: italic;
}

sci-combo-box.complex-list li:last-child{
    border-bottom: none;
}

sci-combo-box li.disabled{
    color: rgb(186, 196, 209);
    cursor: default;
}