:host{
    display: block;
    margin: 10px 0;
    text-align: left;
}

label{
    color: #1658da;
    display: block;
    margin-bottom: 3px;
    line-height: 16px;
}

input{
    height: 20px;
}

:host([disabled]) label{
    color: rgb(186, 196, 209);
}

textarea, input:not([type=password]){
    font-family: 'Futura PT', 'Helvetica Neue', Helvetica, Arial, serif;
    font-size: 14px;
}

.clearfix{
    display: block;
    clear: both;
}

a:link, a:visited{
    color: #1658da;
}

a:active, a:hover{
    color: rgb(210, 39, 11);
}

.error-message{
    display: none;
    color: rgb(235,65,70);
}

.error-message.on{
    display: block;
}

:host(.position-left){
    display: inline-block;
}

:host(.position-left) label{
    display: inline-block;
    margin-right: 5px;
}

:host(.position-left) label+*{
    display: inline-block;
    width: auto;
}




/* Core styles for expandables */

:host .hamburger{
    border-bottom: 1px solid #333;
    cursor: pointer;
    position: relative;
}

:host([disabled]) .hamburger{
    border-bottom-color: rgb(186, 196, 209);
    cursor: default;
}

:host .hamburger .icon{
    float: right;
    margin-top: 5px;
    margin-right: 5px;
}

:host([opened]) .hamburger .icon{
    transform: rotate(180deg);
}

:host([disabled]) .hamburger .icon{
    fill: rgb(186, 196, 209);
}

:host .hamburger .text{
    height: 20px;
    line-height: 20px;
}

:host([disabled]) .hamburger .text{
    color: rgb(186, 196, 209);
}

:host .hamburger .content{
    display: none;
    position: absolute;
    border: 1px solid #333;
    background:#fff;
    left: 0;
    top: 100%;
    right: 0;
    cursor: default;
    box-shadow: 0 10px 10px -5px #aaa;
    overflow: hidden;
    z-index: 1;
}

:host([opened]) .hamburger .content{
    display: block;
}

:host([inline]) .hamburger{
    border-bottom: none;
}

:host([inline]) .hamburger svg{
    display: none;
}

:host([inline]) .hamburger .text{
    display: none;
}

:host([inline]) .content{
    display: block;
    position: static;
    border: none;
    box-shadow: none;

}

@media screen and (max-width: 480px){
    :host .hamburger .text{
        height: 25px;
        line-height: 25px;
    }

    :host .hamburger .icon{
        margin-top: 8px;
        margin-right: 8px;
    }
}