@import url(../../core-styles.css);

:host{
    font-size: 0;
    width: 265px;
}

sci-input{
    display: inline-block;
    vertical-align: top;
    margin: 0 5px 0 0;
    width: calc(100% - 15px);
    font-size: 14px;
}

.spin-buttons{
    display: inline-block;
    vertical-align: top;
    margin-top: 18px;
    width: 10px;
    height: 22px;
    font-size: 14px;
}

.spin-button{
    display: block;
    fill: #333;
    cursor: pointer;
}

.spin-button.selected{
    fill: rgb(186, 196, 209);
}

:host([disabled]) .spin-button{
    fill: rgb(186, 196, 209);
    cursor: default;
}

#spin-up{
    margin-bottom: 2px;
}

#spin-down{
}