@import url(../../core-styles.css);

.message-body{
    margin-top: 0;
    text-align: center;
}

.message-detail{
    display: none;
    font-style: italic;
    text-align: center;
}

.message-detail.on{
    display: block;
}