@import url(../../core-styles.css);

:host([inline]) .hamburger{
    border-bottom: 1px solid #333;
}

:host([inline]) .hamburger svg{
    display: block;
}

:host([inline]) .hamburger .text{
    display: block;
}

:host([inline]) .content{
    display: none;
    position: absolute;
    border: 1px solid #333;
    box-shadow: 0 10px 10px -5px #aaa;
}