@import url(../fonts/stylesheet.css);


body{
    font-family: 'Futura PT', 'Helvetica Neue', Helvetica, Arial, Sans-serif, serif;
    font-size: 14px;
}

body{
    margin: 0;
    padding: 0;
    color: #333;
}

h1, h2, h3{
    margin: 0;
    padding: 0;
    font-weight: 500;
}

h1{
    margin: 20px 0;
}

h2{
    margin: 10px 0;
}

p{
    margin: 0;
    padding: 0;
}

.clearfix{
    display: block;
    clear: both;
}

a:link, a:visited{
    color: #1658da;
}

a:active, a:hover{
    color: rgb(210, 39, 11);
}

dl{
    margin: 0;
    padding: 0;
}

dt{
    margin: 0;
    color: #1658da;
}

dd{
    margin: 0;
    margin-left: 20px;
    font-size: 15px;
}

blockquote{
    font-style: italic;
    font-weight: 300;
}

.buttons-wrapper{
    text-align: center;
    font-size: 0;
}


/* Styles for list boxes, combo boxes, livesearch */

sci-combo-box ul, sci-livesearch ul, sci-list-box ul{
    margin: 0;
    padding: 5px;
    list-style-type: none;
    color: rgb(186, 196, 209);
}

sci-livesearch[inline] ul{
    padding: 5px 0;
}

sci-combo-box li, sci-livesearch li, sci-list-box li{
    cursor: pointer;
}

sci-livesearch[disabled] li, sci-list-box[disabled] li{
    cursor: default;
}

sci-combo-box li:hover, sci-livesearch li:hover{
    color: #1758da;
}

sci-livesearch[disabled] li:hover{
    color: rgb(186, 196, 209);
}

sci-combo-box li.optional, sci-livesearch li.optional, sci-list-box li.optional{
    font-style: italic;
}

sci-combo-box.complex-list ul, sci-livesearch.complex-list ul, sci-list-box.complex-list ul{
    padding: 0;
}

sci-livesearch[inline].complex-list ul{

}

sci-combo-box.complex-list li, sci-livesearch.complex-list li, sci-list-box.complex-list li{
    padding: 5px;
    border-bottom: 1px solid #333;
    color: #333;
}

sci-livesearch[inline].complex-list li{
    padding: 5px 0;
    border-bottom: none;
}

sci-livesearch[disabled].complex-list li, sci-list-box[disabled].complex-list li{
    color: rgb(186, 196, 209);
}

sci-combo-box.complex-list li p:nth-child(2), sci-livesearch.complex-list li p:nth-child(2),
sci-list-box.complex-list p:nth-child(2){
    font-style: italic;
}

sci-combo-box.complex-list li:last-child, sci-livesearch.complex-list li:last-child,
sci-list-box li:last-child{
    border-bottom: none;
}

sci-combo-box li.disabled, sci-livesearch li.disabled, sci-list-box li.disabled{
    color: rgb(186, 196, 209);
    cursor: default;
}

/* styles solely for list boxes */

sci-list-box ul{
    padding: 0;
}

sci-list-box li{
    color: #333;
    text-transform: uppercase;
    border-bottom: 1px solid rgb(186, 196, 209);
    padding: 10px 5px;
}

sci-list-box.complex-list li{
    border-bottom: 1px solid rgb(186, 196, 209);
    padding: 10px 5px;
}

sci-list-box li p:nth-child(2){
    text-transform: none;
    font-style: italic;
    line-height: 16px;
}

sci-list-box li:hover, sci-list-box li.selected{
    background: #ddd;
}

sci-list-box li.disabled:hover{
    background-color: #fff;
}

sci-list-box li:last-child{
    border-bottom: none;
}

sci-list-box[disabled] li{
    color: rgb(186, 196, 209);
}

sci-list-box[disabled] li:hover{
    background-color: #fff;
}