@import url(../../core-styles.css);

:host{
    font-size: 20px;
    text-align: center;
    display: inline-block;
    margin-right: 20px;
}

:host(:last-child){
    margin-right: 0px;
}

.immediate-wrapper{
    font-size: 14px;
    display: inline-block;
    width: 100%;
}

input[type=submit], input[type=reset]{
    border: 1px solid #1658da;
    background: #1658da;
    text-transform: uppercase;
    color: #fff;
    box-shadow: none;
    cursor: pointer;
    line-height: 20px;
    padding: 12px;
    height: inherit;
    border-radius: 5px;
    min-width: 200px;
    outline: none;
    width: 100%;
}

input[type=reset]{
    background: #fff;
    color: black;
    border: 1px solid black;
}

input[type=submit]:hover, input[type=submit]:focus{
    background: rgb(0, 52, 155);
}

input[type=submit]:disabled{
    background: rgb(186, 196, 209);
    border-color: rgb(186, 196, 209);
    cursor: default;
}

input[type=reset]:disabled{
    border-color: rgb(186, 196, 209);
    color: rgb(186, 196, 209);
    cursor: default;
}

input[type=submit]:active, input[type=reset]:active{
    box-shadow: inset 0px 0px 25px 10px rgba(0, 0, 0, 0.25);
}

input[type=reset]:focus{
    box-shadow: inset 0px 0px 25px 10px rgba(0, 0, 0, 0.25);
}